<div class="button1">
  <a class="nav-link" style="color: black ;" href="#">
        <i class="fas fa-arrow-circle-up"></i>
        Back to top
  </a>
</div>
<section id="about"style="background-color: rgba(222, 184, 135, 0)">
  <marquee direction="right" scrollamount="15" >
    <a class="navbar-brand" href="">
      <div class="companytag" style="color:black;" >farmBusiness-<i class="fas fa-tractor fa-2x"></i></div>
    </a>
  </marquee>

  

  </section>

   










    <footer class="footer">
    <p>  <i class="far fa-copyright"></i> Copyright 2021, The Optimizer</p>
    </footer>
  
  <!-- adding jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- personal javascript -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>
</html>